/* ===== Navbar Sticky (بدل fixed) ===== */
.navbar-custom {
position: sticky;
top: 0;
width: 100%;
z-index: 1000;
backdrop-filter: blur(6px);
}

/* ===== Background Image ===== */
.bg-primary {
position: relative;
background: none !important;
background-image: url("../assets/navbar-bg.jpg") !important;
background-size: cover;
background-position: center;
}

/* Overlay خفيف */
.bg-primary::before {
content: "";
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.3);
}

/* نخلي المحتوى فوق */
.bg-primary * {
position: relative;
z-index: 1;
}

/* ===== Logo ===== */
.navbar-brand {
font-size: 22px;
letter-spacing: 1px;
transition: 0.3s;
}

.navbar-brand:hover {
color: #0f0f0e !important;
transform: scale(1.1);
}

/* ===== Links ===== */
.nav-link {
margin-left: 10px;
font-weight: 500;
transition: 0.3s;
}

.nav-link:hover {
color: #0f0e0e !important;
transform: scale(1.1);
}

/* spacing بين العناصر */
.navbar-nav {
display: flex;
align-items: center;
gap: 12px;
}

/* ===== Buttons ===== */
.custom-btn {
background: rgb(4, 2, 2);
padding: 6px 15px;
border-radius: 20px;
color: #f2f3f5 !important;
transition: 0.3s;
font-weight: 500;
border: none;
}

/* Hover */
.custom-btn:hover {
background: #f8f9fa;
color: rgb(8, 8, 8) !important;
transform: scale(1.1);
}

/* ===== Responsive ===== */
@media (max-width: 992px) {
.navbar-nav {
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.nav-link {
margin-left: 0;
}
}